<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false"
        bootstrap="vendor/autoload.php"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnPhpunitDeprecations="false"
        failOnWarning="true"
        failOnRisky="true"
        stopOnFailure="false"
        colors="true"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
>
    <coverage
            includeUncoveredFiles="true"
            pathCoverage="true"
    >
        <report>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Plugin Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
