{
  "name": "${PLUGIN_SLUG}",
  "version": "1.0.0",
  "description": "${PLUGIN_DESCRIPTION}",
  "scripts": {
    "start": "wp-env start",
    "stop": "wp-env stop",
    "clean": "wp-env clean all",
    "restart": "wp-env stop && wp-env clean all && wp-env start",
    "test": "echo \"Error: no test specified\" && exit 1",
    "build": "composer install --no-dev && ./build/build.sh",
    "dev": "composer install && npm run start",
    "init": "composer clean && composer install && composer init-plugin && sh ./build/build.sh && npm run start"
  },
  "dependencies": {
    "@wordpress/env": "^8.0.0"
  },
  "author": "${PLUGIN_AUTHOR}",
  "license": "GPL-2.0-or-later"
}
